<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head") %>
</head>
<body>
    <header class="header">
        <%- include("../partials/navBar") %>
    </header>
<main>
<section class="shopping-cart">
    <div class="cart-card1">
        <div class="cart-total">
            <p>Total: $XXXX</p>
        </div>
    </div>
    <div class="cart-card2">
        <div class="cart-prod">
            <img src="/images/CADUS-SINGLE-VINEYARD.jpg" alt="">
            <div class="cart-prod-text">
                <h3>Nombre del producto</h3>
                <p>$XXX</p>
            <div class="cart-prod-button" id="cart-form"> 
                <div class="form-group">
                    <label>Cantidad: </label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button id="down" class="btn btn-default" onclick=" down('0')"><i class="fa-solid fa-minus"></i></button>
                        </div>
                        <input type="text" id="myNumber" class="form-control input-number" value="1" />
                        <div class="input-group-btn">
                            <button id="up" class="btn btn-default" onclick="up('10')"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="cart-prod">
            <img src="/images/CADUS-SINGLE-VINEYARD.jpg" alt="">
            <div class="cart-prod-text">
                <h3>Nombre del producto</h3>
                <p>$XXX</p>
            <div class="cart-prod-button" id="cart-form"> 
                <div class="form-group">
                    <label>Cantidad: </label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button id="down1" class="btn btn-default" onclick=" down1('0')"><i class="fa-solid fa-minus"></i></button>
                        </div>
                        <input type="text" id="myNumber2" class="form-control input-number" value="1" />
                        <div class="input-group-btn">
                            <button id="up1" class="btn btn-default" onclick="up1('10')"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="cart-card3">
        <a href="finalizarCompra"><button type="submit">Finalizar Compra</button></a>
    </div>
</section>
</main>

<footer class="footer">
    <%- include("../partials/footer") %>
</footer>
</body>
<script>
    function up(max) {
    document.getElementById("myNumber").value = parseInt(document.getElementById("myNumber").value) + 1;
    if (document.getElementById("myNumber").value >= parseInt(max)) {
        document.getElementById("myNumber").value = max;
    }
}
function down(min) {
    document.getElementById("myNumber").value = parseInt(document.getElementById("myNumber").value) - 1;
    if (document.getElementById("myNumber").value <= parseInt(min)) {
        document.getElementById("myNumber").value = min;
    }
}
function up1(max) {
    document.getElementById("myNumber2").value = parseInt(document.getElementById("myNumber2").value) + 1;
    if (document.getElementById("myNumber2").value >= parseInt(max)) {
        document.getElementById("myNumber2").value = max;
    }
}
function down1(min) {
    document.getElementById("myNumber2").value = parseInt(document.getElementById("myNumber2").value) - 1;
    if (document.getElementById("myNumber2").value <= parseInt(min)) {
        document.getElementById("myNumber2").value = min;
    }
}
</script>
<!-- BOOTSTRAP JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>