
    <div class="footer-content" id="footer">
        <h3 class="footer-text-h">¡Seguinos en nuestras redes sociales, o contactanos!</h3>
        <ul>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </li>
        </ul>
    </div>
    <div class="footer-content">
        <img class="footer-logo" src="/images/products/LogoRedondo.svg" alt="">
    </div>
    <div class="footer-content">
        <h5>© Todos los derechos reservados - La Bodeguita</h5>
    </div>
