*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

li{
    list-style: none
}

a{
    text-decoration: none
}
@import 'estilos/navbar.scss';
@import 'estilos/home.scss';
@import 'estilos/login.scss';
@import 'estilos/prodDetail.scss';
@import 'estilos/productos.scss';
@import 'estilos/profileUser.scss';
@import 'estilos/useryproductList.scss';
@import 'estilos/finalizarCompra.scss';
@import 'estilos/footer.scss';
@import 'estilos/media.scss';