<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head") %>
</head>
<body>
    <header class="header">
        <%- include("./partials/navBar") %>
    </header>
<main class="main">
    <section class="section">
        <div class="sect-div">
            <div class="sect-img">
                <h2 class="la-bodeguita">La Bodeguita</h2>
            </div>
            <div class="sect-text">
                <p class="sect-p">El arte de disfrutar un buen vino</p>
            </div>
        </div>
    </section>
    <section class="section-two">
        <div class="ofer-title">
            <h3>Ofertas del mes</h3>
        </div>
        <div class="carrusel">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="carrusel-img" src="/images/vino1.png" class="d-block w-100" alt="...">
                        <div class="ofer-prod">
                            <div class="ofer-img">
                                <img src="/images/vinopng.png" alt="vino">
                            </div>
                            <div class="ofer-text">
                                <div>
                                <h4>Title del Vino 1</h4>
                                <p>Descripción del vino, entre otros datos cortos para convencer</p>
                                </div>
                                <div>
                                <p class="descuento">30% de descuento</p>
                                <p class="ofer-precio">Precio: $XXX</p>
                                </div>
                                <a class="ofer-bot" href="#">Comprar</a>
                                <a class="ofer-bot" href="detalleProducto">Ver más</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="carrusel-img" src="/images/vino1.png" class="d-block w-100" alt="...">
                        <div class="ofer-prod">
                            <div class="ofer-img">
                                <img src="/images/vinopng.png" alt="vino">
                            </div>
                            <div class="ofer-text">
                                <div>
                                <h4>Title del Vino 2</h4>
                                <p>Descripción del vino, entre otros datos cortos para convencer</p>
                                </div>
                                <div>
                                <p class="descuento">20% de descuento</p>
                                <p class="ofer-precio">Precio: $XXX</p>
                                </div>
                                <a class="ofer-bot" href="#">Comprar</a>
                                <a class="ofer-bot" href="detalleProducto">Ver más</a>
                            </div>
                        </div>
                    </div>
                    </div>
                  <div class="carousel-item">
                    <div class="carrusel-img" src="/images/vino1.png" alt="...">
                        <div class="ofer-prod">
                            <div class="ofer-img">
                                <img src="/images/vinopng.png" alt="vino">
                            </div>
                            <div class="ofer-text">
                                <div>
                                <h4>Title del Vino 3</h4>
                                <p>Descripción del vino, entre otros datos cortos para convencer</p>
                                </div>
                                <div>
                                <p class="descuento">15% de descuento</p>
                                <p class="ofer-precio">Precio: $XXX</p>
                                </div>
                                <a class="ofer-bot" href="#">Comprar</a>
                                <a class="ofer-bot" href="detalleProducto">Ver más</a>
                            </div>
                        </div>
                    </div>          
                </div>
                <div class="carousel-item">
                    <div class="carrusel-img" src="/images/vino1.png" alt="...">
                        <div class="ofer-prod">
                            <div class="ofer-img">
                                <img src="/images/vinopng.png" alt="vino">
                            </div>
                            <div class="ofer-text">
                                <div>
                                <h4>Title del Vino 4</h4>
                                <p>Descripción del vino, entre otros datos cortos para convencer</p>
                                </div>
                                <div>
                                <p class="descuento">15% de descuento</p>
                                <p class="ofer-precio">Precio: $XXX</p>
                                </div>
                                <a class="ofer-bot" href="#">Comprar</a>
                                <a class="ofer-bot" href="detalleProducto">Ver más</a>
                            </div>
                        </div>
                    </div>          
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
    </section>
<section class="ofertas">
    <div class="ofer-title">
        <h3>Ofertas del mes</h3>
    </div>
    <div class="ofer-productos">
        <div class="ofer-prod">
            <div class="ofer-img">
                <img src="/images/vinopng.png" alt="vino">
            </div>
            <div class="ofer-text">
                <div>
                <h4>Title del Vino 1</h4>
                <p>Descripción del vino, entre otros datos cortos para convencer</p>
                </div>
                <div>
                <p class="descuento">30% de descuento</p>
                <p class="ofer-precio">Precio: $XXX</p>
                </div>
                <a class="ofer-bot" href="#">Comprar</a>
                <a class="ofer-bot" href="detalleProducto">Ver más</a>
            </div>
        </div>
        <div class="ofer-prod">
            <div class="ofer-img">
                <img src="/images/vinopng.png" alt="vino">
            </div>
            <div class="ofer-text">
                <div>
                <h4>Title del Vino 2</h4>
                <p>Descripción del vino, entre otros datos cortos para convencer</p>
                </div>
                <div>
                <p class="descuento">20% de descuento</p>
                <p class="ofer-precio">Precio: $XXX</p>
                </div>
                <a class="ofer-bot" href="#">Comprar</a>
                <a class="ofer-bot" href="detalleProducto">Ver más</a>
            </div>
        </div>
        <div class="ofer-prod">
            <div class="ofer-img">
                <img src="/images/vinopng.png" alt="vino">
            </div>
            <div class="ofer-text">
                <div>
                <h4>Title del Vino 3</h4>
                <p>Descripción del vino, entre otros datos cortos para convencer</p>
                </div>
                <div>
                <p class="descuento">15% de descuento</p>
                <p class="ofer-precio">Precio: $XXX</p>
                </div>
                <a class="ofer-bot" href="#">Comprar</a>
                <a class="ofer-bot" href="detalleProducto">Ver más</a>
            </div>
        </div>
        <div class="ofer-prod">
            <div class="ofer-img">
                <img src="/images/vinopng.png" alt="vino">
            </div>
            <div class="ofer-text">
                <div>
                <h4>Title del Vino 4</h4>
                <p>Descripción del vino, entre otros datos cortos para convencer</p>
                </div>
                <div>
                <p class="descuento">15% de descuento</p>
                <p class="ofer-precio">Precio: $XXX</p>
                </div>
                <a class="ofer-bot" href="#">Comprar</a>
                <a class="ofer-bot" href="detalleProducto">Ver más</a>
            </div>
        </div>
    </div>
</section>
</main>
<footer class="footer">
    <%- include("./partials/footer") %>
</footer>
</body>
<!-- BOOTSTRAP JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>