<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <link rel="stylesheet" href="/css/estilosReg.css">
      </head>
<body>
    <header class="header">
        <%- include("./partials/navBar") %>
    </header>
    <main>
    <div class="create-div">
    <form method="POST" action="/create" class="create">
            <input type="text" name="name" id="name" placeholder="Nombre del producto">
            <h3>Tipo de producto</h3>
            <select name="tipo">
                <option>Tinto</option>
                <option>Blanco</option>
                <option>Rosado</option>
            </select>
            <h3>Oferta</h3>
            <select name="oferta">
                <option>true</option>
                <option>false</option>
            </select>
            <h3>Bodega</h3>
            <select name="bodega">
                <option>Malbec</option>
                <option>Santa Julia</option>
                <option>Norton</option>
            </select>
            <label for="">Precio</label>
            <input type="number" name="precio" id="precio" placeholder="Precio">
            <label for="">Descuento</label>
            <input type="number" name="descuento" id="descuento" placeholder="Descuento">
            <label for="">Alcohol producto</label>
            <input type="number" name="alcohol" id="alcohol" step="0.01" min="0" max="20" placeholder="Alcohol producto">
            <label for="">Color de producto</label>
            <input type="text" name="color" id="color" placeholder="Color de producto">
            <select name="tamaño">
                <option>750ml</option>
                <option>1000ml</option>
                <option>1250ml</option>
            </select>
            <label for="imagen">Seleccionar imagen</label>
            <input type="file" name="imagen" accept=".jpg" id="imagen" multiple>
        <button method="POST" type="submit">Enviar</button>
        <button type="reset">Borrar</button>
</form>
</div>
</main>
<footer class="footer">
    <%- include("./partials/footer") %>
  </footer>
  </body>
  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>