  /* Formato Formulario-Registro */
  main{
    background-color: #011B36;
    border-top: 30px solid #303f9f;

  }
  .wrap{
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 3px #fff;
  }
  .contenedor-formulario{
    width: 100%;
    color: #fff;
    padding: 50px;
    margin-top: 3%;
  }
  .formulario{
    width: 100%;
    margin: auto;
  }
  .general{
    position: relative;
    margin-bottom: 32px;
  }
  .general input{
    font-size: 16px;
    color: #011B36;
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid lightblue;
  }
  .general input:focus,:active{
    outline: none;
    border-bottom: 2px solid lightblue;;
  }
  .general label{
    color: #011B36;
  }
  .general label.label{
    position: absolute;
    top: 16px;
    left: 0px;
    font-size: 16px;
    line-height: 16px;
    margin-left: 16px;
    transition: 3s ease;
  }
  .checkbox {
    color: #011B36;
    position: relative;
    padding: 5px 1px 5px 15px;
    font-size: 1.2em;
    border-radius: 3px;
    transition: all 3s ease;
    margin-left: 120px;
    top: -25px;
  }
  p{
    text-align: center;
    color: #000;
    font-style: none;
  }
  #boton{
    width: 150px;
    padding: 5px;
    margin-left: 140px;
    background-color: #011B36;
    color: #fff;
  }
  
  /*CARRUSEL, SECTION DOS - OFERTAS*/
  
  .section-two {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    background: #373B44;
    background: -webkit-linear-gradient(to right, #011B36, #373B44);
    background: linear-gradient(to right, #011B36, #373B44);
    display: flex;
    flex-direction: column;
  }
  
  .carrusel-img {
    width: 100%;
  }

  /*Footer*/
  
  .footer {
    background: #373B44;
    background: -webkit-linear-gradient(to right, #011B36, #373B44);
    background: linear-gradient(to right, #011B36, #373B44);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 400px;
    justify-content: space-around;
    text-align: center;
    border-top: 5px solid #fff;
  }
  
  .footer-content {
    align-content: center;
    padding-top: 30px;
    width: 70%;
    margin: auto;
  }
  
  .footer-content i {
    font-size: 30px;
    color: #fff;
    margin-top: 15px;
    margin-right: 15px;
  }
  
  .footer-logo {
    width: 50%;
    height: 100px;
    margin: auto;
    filter: drop-shadow(-3px 1px 1px #000);
  }
  
  .footer-text {
    color: #fff;
    margin: auto;
  }
  
  .footer-text-h {
    font-size: 20px;
    color: #fff;
  }
  
    /* --- Media Queri MOBILE */

   @media (min-width: 481px) {
  
    /* NAV BAR EN MOBILE */
    .menu-hamb {
      display: flex;
    }
  
    .nav-contein {
      display: none;
    }
  
    /* SECTION 1 EN MOBILE */
  
    .sect-div {
      margin: auto;
      margin-left: 40%;
    }
  }

   /* Formato Formulario-Registro EN MOBILE*/
  
   p{
    text-align: center;
    color: #000;
    font-size: small;
  }
    #boton{
    width: 110px;
    padding: 5px;
    margin-left: 80px;
    background-color: #011B36;
    color: #fff;
  }
  
  /* --- Media Queri Tablet */
  
  @media (min-width: 610px) {
  
      /* NAV BAR EN TABLET */
  
    .menu-hamb {
      display: none;
    }
    .menu-hamb i {
      display: none;
    }
  
    .nav-contein {
      display: flex;
      margin: auto;
      justify-content: space-evenly;
    }
    .nav-contein li, .nav-contein a {
      color: #fff;
      text-decoration: none;
      font-size: 13px;
    }
  
    /* SECCION DEL INICIO Y OFERTAS EN TABLET */
  
    .section-two {
      display: none;
    }
  
    .ofertas {
      display: flex;
    }
  
    .ofer-productos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .ofer-prod {
      width: 43%;
      margin: auto;
      margin-bottom: 40px;
    }
  
    /* SECTION DE LOS VINOS EN TABLET */
  
    .sect-search input {
      width: 80%;
    }
  
    .vin-text p {
      width: 70%;
    }
  
    .vin-tipos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: center;
    }
  
    .vin-prod {
      width: 45%;
    }
  
    .div-collapse {
      width: 95%;
    }
  
    .div--colapse {
      height: 170px;
      width: 100%;
    }
  
    .sect-div {
      margin: auto;
      margin-left: 55%;
    }
  
    /* DETALLE DEL PRODUCTO EN TABLET  */
  
    .prod-detail {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .prod-detail-img {
      width: 40%;
      margin: auto;
      min-height: 300px;
      margin-top: 30px;
    }
  
    .prod-detail-img img {
      margin: auto;
      padding-bottom: 60px;
    }
  
    .prod-detail-info {
      width: 50%;
    }
    
     /* Formato Formulario-Registro EN TABLET*/
  
    p{
        font-size: medium;
     }
     #boton{
    width: 130px;
    padding: 5px;
    margin-left: 120px;
    }
  

    /* FOOTER EN TABLET */
  
    .footer {
      display: flex;
      flex-wrap: nowrap;
    }
  
    .footer-text, .footer-text-h {
      width: 80%;
      margin: auto;
    }
}
  @media (min-width: 780px) {
  
    /* NAVBAR EN DESKTOP */
    .nav-contein li a {
        font-size: 15px;
    }
  
    /* PRODUCTOS EN DESKTOP */
    .vin-prod {
      width: 30%;
    }
  
    .div--colapse {
      height: 140px;
      width: 100%;
    }
  
    /* OFERTAS EN DESKTOP */
  
    .ofer-prod {
      width: 22%;
      margin: auto;
      margin-bottom: 40px;
    }
  }
  