  /* Formato Formulario-Registro */
  .formulario-main{
    background-color: #011B36;
    border-top: 30px solid #303f9f;
    margin-top: 50px;
  }

  .wrap{
    width: 100%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 3px #fff;
  }
  .contenedor-formulario{
    width: 100%;
    color: #fff;
    padding: 50px;
    padding-top: 15%;
  }
  .formulario{
    width: 100%;
    margin: auto;
  }
  .general{
    position: relative;
    margin-bottom: 32px;
  }
  .general input{
    font-size: 16px;
    color: #011B36;
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid lightblue;
  }

  .general label{
    color: #011B36;
  }
  .general label.label{
    position: absolute;
    top: 16px;
    left: 0px;
    font-size: 16px;
    line-height: 16px;
    margin-left: 16px;
    transition: 3s ease;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color: #011B36;
    text-align: center;
    padding: 5px 1px 5px 15px;
    font-size: 1.2em;
    border-radius: 3px;
  }

  .checkbox div{
    width: 100%;
    margin-bottom: 20px;
  }

  #boton{
    padding: 5px;
    background-color: #011B36;
    color: #fff;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;

  }
  p{
    text-align: center;
    color: #000;
    font-style: none;
  }
  
  @media (min-width: 610px) {
    
     /* Formato Formulario-Registro EN TABLET*/
}
  