/*Footer*/



.footer {
    background: #373B44;
    background: -webkit-linear-gradient(to right, #011B36, #373B44);
    background: linear-gradient(to right, #011B36, #373B44);
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-around;
    text-align: center;
    border-top: 2px solid #011B36;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    align-content: center;
    padding-top: 30px;
    width: 90%;
    margin: auto;
      h5{
        font-size: 15px;
        color: #fff;
        transition: all .4s ease-in-out;
        cursor: pointer;
      }
  }
  
  .footer-content i {
    font-size: 30px;
    color: #fff;
    margin-top: 15px;
    margin-right: 15px;
    transition: all .4s ease-in-out;

  }

  .footer-content i:hover,.footer-content h5:hover{
    color: #011B36;
    filter: drop-shadow(0px 0px 1px #fff);  }
  
  .footer-logo {
    width: 50%;
    height: 50px;
    margin: auto;
    filter: drop-shadow(-3px 1px 1px #000);
  }
  
  .footer-text {
    color: #fff;
    margin: auto;
  }
  
  .footer-text-h {
    font-size: 20px;
    color: #fff;
  }
  