/* PROFILE USER  */
.main-profile{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    height: 100vh;
    color: #fff;
  }
  
  .buttons-profile{
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px;
    justify-content: center;
  }
  
  .buttons-profile form{
    margin: 0px 10px;
  }
  
  .buttons-profile form button{
    background-color: #0f2027b4;
    color: #fff;
    border: 1px solid #fff ;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    transition: all .4s ease-in-out;
  }
  
  .buttons-profile form button:hover{
    border: 1px solid #0f20273e;
    background-color: #fff;
    color: #0f2027;
  
  }
  