
  /* LISTA DE PRODUCTOS  */

.prodList{
  padding-top: 100px;
  padding-bottom: 1000px;
  width: 80%;
  margin: auto;
  text-align: center;
  height: 100vh;
  a{
    color: #fff;
    background-color: #011B36;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    border: 1px solid #fff;
  }

  a:hover{
    color: #fff;

  }
}

.prodList div{
  width: 100%;
  background: #0f20273e;
  background: -webkit-linear-gradient(to right, #011B36, #0e355f, #0F2027);  
  background: linear-gradient(to right, #011b3695, #0e355f79, #0f2027bc); 
  color: #fff;
  margin: auto;
   article  {
     table{
      color: #fff;
      td{
        
        .modal-container{
            background: none;
            img{
                width: 30px;
                background-color: #fff;
                border-radius: 5px;
                cursor: pointer;
                z-index: 1;
        }
      }
      .modal-container.activeImg{
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        img{
          height: 420px;
          width: 350px;
        }
      }
      .modal-container.activeImg::after{
        content: '';
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.56);
        z-index: 0;
      }
      }
      td{
        a{
          i{
            color: #fff;
            transition: all .4s ease-in-out;

          }
        }
      }
     }
   }
}

.prodList div article table td button{
    background-color: transparent;
    align-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
    position: relative;
    i{
      position: absolute;
      color: #fff;
      top: -15px;
    }
}